.project_container {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.projectList_container {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.project_image {
  height: 30px;
}

.project_button {
  background-color: #EAE7DC;
  border: solid 1px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}