/* .project_container {
  display: grid;
  grid-template-columns: repeat(5, auto);
} */

.main_card_container {
  display: table;
  border: 3px solid;
  width: 350px;
  height: 790;
  background: red;
  justify-content: center;
  /* flex-direction: row; */
}

.projectList_container {
  justify-content: center;
  /* grid-template-columns: repeat(5, auto); */
  background: blue;
}

.project_image {
  height: 30px;
}

.project_button {
  background-color: #EAE7DC;
  border: solid 1px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}