.main_header_container {
  background: #D8C3A5;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header_menu_container {
  background: #D8C3A5;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: end;
  margin-right: 2rem;
}

.nav_link {
  color: #8E8D8A;
  display: flex;
  align-items: left;
  text-decoration: none;
  height: 100%;
}